{% extends 'users/wrapper.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/forms.css' %}">

    <div class="rows">
        <div class="col-md-6 offset-md-3 col-12">
            <form class="mt-5 pt-5" action="" method="POST">
                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        {{error}}
                    </div>  
                {% endif %}

                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <button class="mt-5 btn btn-block btn-outline-success" type="submit">{{button}}</button>
            </form>
        </div>
    </div>

{% endblock %}