<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="guest-style.css">
</head>
<body>
    <div class="logo">
        <img src="logo.png" alt="">
    </div>

    <main class="window">
        <h1 class="title">Регистрация</h1>

        <div class="input-wrapper">
            <input type="text" placeholder="Имя">
            <span class="input-icon"></span>
        </div>

        <div class="input-wrapper">
            <input type="text" placeholder="Должность">
            <span class="input-icon"></span>
        </div>

        <div class="input-wrapper">
            <input type="text" placeholder="+7">
            <span class="input-icon"></span>
        </div>

        <div class="input-wrapper">
            <input type="text" placeholder="E-mail">
            <span class="input-icon"></span>
        </div>
        
        <div class="input-wrapper">
            <input type="password" placeholder="Пароль">
            <span class="input-icon"></span>
        </div>

        <button class="button">Зарегистрироваться</button>

        <a href="login.html" style="color: #a6aaa9">Уже есть аккаунт</a>
        <!-- <a href="login.html" class="button button-login">Вход</a>
        <a href="register.html" class="button button-register">Регистрация</a> -->
    </main>
</body>
</html>